security:
    password_hashers:
        App\Entity\User: "auto"
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
            algorithm: "auto"
            cost: 15
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
    firewalls:
        login:
            pattern: ^/api/login
            stateless: true
            login_throttling:
                limiter: app.login_rate_limiter
            json_login:
                check_path: /api/login_check
                success_handler: App\Security\AuthenticationSuccessHandler

        api:
            pattern: ^/api
            stateless: true
            jwt: ~
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: app_user_provider

    access_control:
        - { path: ^/api/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/product/public, roles: PUBLIC_ACCESS }
        - { path: ^/api/category/public, roles: PUBLIC_ACCESS }
        - { path: ^/api/order/public, roles: PUBLIC_ACCESS }
        - { path: ^/api/product/private, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/private, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }
